@mixin styleText($fs, $fw, $c) {
    font-size: $fs;
    font-weight: $fw;
    color: $c;
};

@mixin styleButton ($fs,$fw,$c,$bg,$pd-x,$pd-y,$bd,$br) {
    font-size: $fs;
    font-weight: $fw;
    color: $c;
    background: $bg;
    padding: $pd-x $pd-y;
    border: $bd;
    border-radius: $br;
}



